@using Kursach_YaP.Models
@model TopicElements

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container container-div form">
        @if (ViewBag.Temp == "text")
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-title" style="text-align:center">
                        <h4>Изменить текст</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" action="">
                        <div class="form-group">
                            <input type="hidden" value="@Model.Text.TopicId" name="Text.TopicId" />
                            <input type="hidden" value="@Model.Text.Id" name="Text.Id" />
                            <h5><label for="Text.Title">Введите оглавление:</label></h5>
                            <input value="@Model.Text.Title" class="form-control form-control-bottom" type="text" name="Text.Title" />
                            <h5><label for="Text.Plot">Введите текст:</label></h5>
                            <textarea rows="7" class="form-control form-control-bottom" type="text" name="Text.Plot">@Model.Text.Plot</textarea>
                            <input class="btn btn-info nav-button right" type="submit" value="Изменить" />
                        </div>
                    </form>
                </div>
            </div>
        }
        @if (ViewBag.Temp == "theor")
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-title" style="text-align:center">
                        <h4>Изменить теорему</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" action="">
                        <div class="form-group">
                            <input type="hidden" value="@Model.Theorem.TopicId" name="Theorem.TopicId" />
                            <input type="hidden" value="@Model.Theorem.Id" name="Theorem.Id" />
                            <h5><label for="Theorem.Name">Введите оглавление:</label></h5>
                            <input value="@Model.Theorem.Name" class="form-control form-control-bottom" type="text" name="Theorem.Name" />
                            <h5><label for="Theorem.Descriprion">Введите текст:</label></h5>
                            <textarea rows="7" class="form-control form-control-bottom" type="text" name="Theorem.Descriprion">@Model.Theorem.Descriprion</textarea>
                            <input class="btn btn-info nav-button right" type="submit" value="Изменить" />
                        </div>
                    </form>
                </div>
            </div>
        }
        @if (ViewBag.Temp == "axiom")
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-title" style="text-align:center">
                        <h4>Изменить аксиому</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" action="">
                        <div class="form-group">
                            <input type="hidden" value="@Model.Axiom.TopicId" name="Axiom.TopicId" />
                            <input type="hidden" value="@Model.Axiom.Id" name="Axiom.Id" />
                            <h5><label for="Axiom.Name">Введите оглавление:</label></h5>
                            <input value="@Model.Axiom.Name" class="form-control form-control-bottom" type="text" name="Axiom.Name" />
                            <h5><label for="Axiom.Descriprion">Введите текст:</label></h5>
                            <textarea rows="7" class="form-control form-control-bottom" type="text" name="Axiom.Descriprion">@Model.Axiom.Descriprion</textarea>
                            <input class="btn btn-info nav-button right" type="submit" value="Изменить" />
                        </div>
                    </form>
                </div>
            </div>
        }
        @if (ViewBag.Temp == "lemma")
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-title" style="text-align:center">
                        <h4>Изменить лемму</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" action="">
                        <div class="form-group">
                            <input type="hidden" value="@Model.Lemma.TopicId" name="Lemma.TopicId" />
                            <input type="hidden" value="@Model.Lemma.Id" name="Lemma.Id" />
                            <h5><label for="Lemma.Name">Введите оглавление:</label></h5>
                            <input value="@Model.Lemma.Name" class="form-control form-control-bottom" type="text" name="Lemma.Name" />
                            <h5><label for="Lemma.Descriprion">Введите текст:</label></h5>
                            <textarea rows="7" class="form-control form-control-bottom" type="text" name="Lemma.Descriprion">@Model.Lemma.Descriprion</textarea>
                            <input class="btn btn-info nav-button right" type="submit" value="Изменить" />
                        </div>
                    </form>
                </div>
            </div>
        }
        @if (ViewBag.Temp == "sinc")
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-title" style="text-align:center">
                        <h4>Изменить информацию об ученом</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" action="">
                        <div class="form-group">
                            <input type="hidden" value="@Model.Professor.TopicId" name="Professor.TopicId" />
                            <input type="hidden" value="@Model.Professor.Id" name="Professor.Id" />
                            <h5><label for="Professor.Name">Введите оглавление:</label></h5>
                            <input value="@Model.Professor.Name" class="form-control form-control-bottom" type="text" name="Professor.Name" />
                            <h5><label for="Professor.Descriprion">Введите текст:</label></h5>
                            <textarea rows="7" class="form-control form-control-bottom" type="text" name="Professor.Descriprion">@Model.Professor.Descriprion</textarea>
                            <input class="btn btn-info nav-button right" type="submit" value="Изменить" />
                        </div>
                    </form>
                </div>
            </div>
        }
        @if (ViewBag.Temp == "form")
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-title" style="text-align:center">
                        <h4>Изменить формулу</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" enctype="multipart/form-data" action="">
                        <div class="form-group">
                            <input type="hidden" value="@Model.Formula.TopicId" name="Formula.TopicId" />
                            <input type="hidden" value="@Model.Formula.Id" name="Formula.Id" />
                            <h5><label for="Formula.Name">Введите оглавление:</label></h5>
                            <input value="@Model.Formula.Name" class="form-control form-control-bottom" type="text" name="Formula.Name" />
                            <h5><label for="Image">Добавьте формулу:</label></h5>
                            <input class="form-control form-control-bottom" type="file" name="Image" />
                            <h5><label for="Formula.Descriprion">Введите текст:</label></h5>
                            <textarea rows="7" class="form-control form-control-bottom" type="text" name="Formula.Descriprion">@Model.Formula.Descriprion</textarea>
                            <input class="btn btn-info nav-button right" type="submit" value="Изменить" />
                        </div>
                    </form>
                </div>
            </div>
        }
        @if (ViewBag.Temp == "task")
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-title" style="text-align:center">
                        <h4>Изменить задачу</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" enctype="multipart/form-data" action="">
                        <div class="form-group">
                            <input type="hidden" value="@Model.Task.TopicId" name="Task.TopicId" />
                            <input type="hidden" value="@Model.Task.Id" name="Task.Id" />
                            <h5><label for="Task.Name">Введите оглавление:</label></h5>
                            <input value="@Model.Task.Name" class="form-control form-control-bottom" type="text" name="Task.Name" />
                            <h5><label for="Image">Добавьте изображение:</label></h5>
                            <input class="form-control form-control-bottom" type="file" name="Image" />
                            <h5><label for="Task.Descriprion">Введите текст:</label></h5>
                            <textarea rows="7" class="form-control form-control-bottom" type="text" name="Task.Descriprion">@Model.Task.Descriprion</textarea>
                            <input class="btn btn-info nav-button right" type="submit" value="Изменить" />
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>